#root {
	scroll-behavior: smooth;
}

.bd-heading a::before {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 0.25rem;
	content: '';
	//background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25230d6efd' viewBox='0 0 16 16'%3E%3Cpath d='M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z'/%3E%3Cpath d='M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z'/%3E%3Cpath fill-rule='evenodd' d='M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z'/%3E%3C/svg%3E");
	background-size: 1em;
}

.bd-heading + div > * + * {
	margin-top: 3rem;
}

.main-content {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

input{
	outline: none;
	border: none;
	border-radius: 0;
	background-color: #d5d5d5;
	
}

.assetsGrid{
	width:100%;
	max-width: 1200px;
	margin: 0 auto;
	.asset{
		display: grid;
		grid-template-columns: 0.5fr minmax(0, 1fr) minmax(0, 0.5fr) 1fr 0.5fr 0.5fr 0.5fr;
		border-top: 1px solid black;
		border-right: 1px solid black;
		border-left: 1px solid black;
		color: black;
		&.legend{
			:not(.name,.number) {
				text-align: center;
			}
		}
		&:last-of-type{
			border-bottom: 1px solid black;
		}
		
		div{
			padding: 0.5rem 1rem;
		}
		.number{
			text-align: right;
		}
		.currentPrice{
			background-color: #ffef93;
		}
		
		input[type=number]{
			max-width: 100%;
			text-align: right;
		}
	}
}


@media (min-width: 1200px) {
	.bd-header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
		grid-column: 1 / span 3;
	}
}
